@tailwind base;
@tailwind components;
@tailwind utilities;

.backgrounds {
  z-index: -5;
}

.set-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
}
@layer components {
  .overlap {
    grid-area: 1 / 1;
  }
}

.background-student {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
}

.display {
  opacity: 1;
  z-index: -1;
  transition: none;
}
