@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "mona";
    font-style: normal;
    font-weight: 500;
    src: url(./assets/mona.woff) format("woff");
  }
  @font-face {
    font-family: "monaswb";
    src: url(./assets/mona-swb.woff) format("woff");
  }
}
.backgrounds {
  z-index: -5;
}

@layer components {
  .colleges {
    width: 405px;
    height: 95px;
    padding: 5px 5px;
    margin: 0 40px;
  }
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-410%);
    }
  }
}

.background-student {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
}

.display {
  opacity: 1;
  z-index: -1;
  transition: none;
}
